    
    /*commun*/

    body {
        max-width: 1440px;
        margin:auto;
        font-family: 'raleway', sans-serif;
        color: black;
        box-sizing: border-box;
       
    }

    header {
      
        width: auto;
        height:auto;
        display: flex ;
        align-items: center;
        margin:50px;
        
    }

    main{ 
        height:auto;
        margin:50px;
    }
    

    .box2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px 10px 10px 10px;
        width: 100%;
        height: 650px;

    }
    .box3 {
        width: 100%;
        height: auto;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    /*HEADER*/

    /*logo*/

    .logop {
        height: auto;
        width: 80px;
        margin-left: 10px;
        margin-bottom: 15px;
        
    }

    /*barre menu*/

    .menu{
        width: 90%;
        height: 50%;
        
    }

    .menu ul{
        list-style-type: none;
        margin: 0px;
    }

    .menu li{
        float: right;
        margin-right: 40px;
    }

    .navlinka{
        color: #0065FC;
    }

    .navlinkb{
        color: black;
    }

    .menu a {
        cursor: pointer;
        text-decoration:none;
        
    }

    .signup{
        text-decoration: none;
        color: #0065FC;
        margin-right: 30px;
        
       
        
    }
    /* Animation du menu */
    
    nav ul li a:hover {
    border-top: 2px solid #0065FC;
    padding-top: 5px;    
    }

    nav ul li a:active {
    border-top: 2px solid #0065FC;
    padding-top : 40px;
    color:#DEEBFF;
    }
     /*Fin HEADER*/

    /*Corps de page*/ 

    /*titres site*/

    h1{
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        padding: 0px;
        margin: 10px;
    }
    
    main p{
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        width: auto;
        padding: 0px;
        margin: 10px 10px 15px 10px;
    }

    /*barre recherche*/

    .barre {
        width: 350px;
        margin: 10px;
        display: flex;
        align-items: center;
        border: 1px solid #f2f2f2;
        border-radius: 10px;
        background-color:#f2f2f2;

    }

    .fond_icp{
        width:15%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .text{
        width: 190px;
        height: 38px;
        font-family: 'raleway', sans-serif;
        color: black;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        border: transparent;
    }

    .btns {
        width: 130px;
        height: 38px;
        margin: 0px;
        padding: 8px;
        background-color: #0065FC;
        color: white;
        font-family: 'raleway', sans-serif;
        font-size: 14px;
        text-align: center;
        border: none;
        cursor: pointer;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

    }

    .input2{
        display: none;
    }

    /*menu filtre*/

    .butfilter h2{
    font-family: 'Raleway', sans-serif; 
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    }


    .butfilter {
        width: 80%;
        height: auto;
        list-style-type: none;
        padding: 0px;
        margin: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
       
    .buttonf {
        float: left;
        width: auto;
        height: 30px;
        text-align: center;
        border-radius: 20px;
        border: #DEEBFF solid 2px;
        margin:15px 5px 0px 25px;
        padding:5px 15px 5px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: transparent;
        overflow: hidden;
        font-family: 'raleway', sans-serif;
        color: black;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;

    }

    .buttonf:hover {
        background: #0065FC;
    }

    .butfilter i{
        width: 20px;
        float: left;
        margin-right: 10px;
        color: #0065FC;
        background-color: #DEEBFF;
        border: solid 13px #DEEBFF;
        border-radius: 50px;
    
    }
    
  
    
    .info i {
        color: #0065FC;
         width: 15px;
         height: auto;
         float: left;
         margin-left: 10px;
         margin-right: 10px;
         margin-top: 4px;
         flex:0 1 auto;
 
     }

    .info p {
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        width:500px ;
        height: auto;
        padding: 0px;
        margin: 30px 10px 30px 10px;

    }

    /*fenetre hébergement*/


    #hébergement {
        background-color: #f2f2f2;
        width: 70%;
        height:650px;
        border-radius: 20px;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
    }

    .border p{
        font-family: 'Raleway', sans-serif;
        font-size: 13px;
        width: 150px ;
        height: 15px;
        margin: 6px 0px 0px 20px;
        
    }

    .AP{
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        width: 150px ;
        height: 15px;
        padding: 0px;
        margin: 0px 0px 0px 50px;
    }

    .border {
        background-color:white;
        width:25%;
        height: 210px;
        margin: 10px 30px 25px 30px;
        float: left;
        border-radius: 20px;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;


    }

    .img1 {
        padding: 0px;
        margin: 2%;
        width: 89%;
        height: 130px;
        margin-top: 5px;
        margin-bottom: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

    }

    #hébergement h2{
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        font-weight: bold;
        width: 300px;
        height: 20px;
        padding: 20px 0px 10px 40px;
        margin: 10px 0px 0px 10px;
       
    }
    
    .border h3{
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: bold;
        width: 250px;
        height: 15px;
        padding: 0px;
        margin: 0px 0px 0px 20px;
    }

    #hébergement .fas{
        width: 15px;
        
    }

    .sblue{
        width: 120px;
        color: #0065FC;
        margin: 0px 0px 0px 20px;
        
    }

    .grey{
        color:#f2f2f2;
       
    }
    
    /*fenetre populaire*/

    #populaire {
        background-color: #f2f2f2;
        width: 27%;
        height: 650px;
        margin-right: 10px;
        border-radius: 20px;
        
    }
    /* titre et icone*/

    .pop{
        display: flex;
        flex-direction: row;
        align-items: center;
       
    }

    .pop i{
        width: 20px;
        margin: 10px 0px 0px 15px;
    }

    /*conteneur*/

    .border2 {
        background-color: white;
        width:85%;
        height: 150px;
        margin: 35px 25px 0px 25px;
        border-radius: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

    }

    .img2 {
        margin: 5px 5px 5px 5px;
        width: 100px;
        height:140px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        
    
    }

    #populaire h2{
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        font-weight: bold;
        width: 250px;
        height: 20px;
        padding: 20px;
        margin: 10px 0px 0px 20px;
        
       
    }

    .border2 h3{
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight:bold;
        width:130px;
        height: 35px;
        padding: 0px 10px 0px 0px;
        margin: 0px 10px 0px 10px;
        
    }
    
    .border2 p{
        
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 12px;
        width: auto;
        height: 15px;
        padding: 0px 10px 0px 0px;
        margin: 5px 10px 0px 10px;
        
    }

    /*icone etoile*/

    .fas{
        width: 13px;
    }

    .border2 .sblue{
        width: auto;
        color: #0065FC;
        margin: 40px 0px 0px 10px;
        
    }

    .grey{
        color:#f2f2f2;
    }
        

    /*fenetre activité*/

    #Activités{
        background-color:white;
        width: 100%;
        height: 600px;
        margin-right: 0px;
        border-radius: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    #Activités h2{
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: bold;
        width: 30%;
        height: 20px;
        padding: 0px;
        margin: 20px 0px 0px 20px;
    

    }

    .img_activité{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    .imga1{
      width: 24%;
      height:90%;
      margin: 5px;
     
    }

    .bordera {
        background-color:white;
        width: 95%;
        height: 540px;
        margin: 10px 10px 10px 10px;
        border-radius: 30px;
        box-shadow: black 10px 0px 22px -11px ;
        
    }

    .bordera2{
        background-color: white;
        width: 95%;
        height: 260px;
        margin: 10px 10px 20px 10px;
        border-radius: 30px;
        box-shadow: black 10px 0px 22px -11px ;
        
    }

    .bordera h3,.bordera2 h3{
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: bold;
        width:300px;
        height: 15px;
        padding: 10px 0px 0px 10px;
        margin: 0px 0px 10px 20px;
       
    }

    .imgb1{
    width: 100%;
    height:485px;
    margin: 0px 0px 5px 0px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    }

    .imgb2{
    width: 100%;
    height: 205px;
    margin: 0px 0px 0px 0px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    }
    /*Fin corps page*/

   /*FOOTER*/

    /*fenetre footer*/
    
    footer{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    margin: 20px 0px 0px 0px;
    padding-left: 20px;
    
    }

    /* block a propos footer*/

    .propos{
        width: 33%;
        height: 200px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .propos h2{
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: bold;
        margin: 30px 0px 10px 0px;
    }

    .propos p{
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        width: auto;
        height: auto;
        margin: 5px 0px 0px 0px;
    }

    /* block nos hébergements footer*/

    .nous{
        width: 33%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .nous h2{
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: bold;
        margin: 30px 0px 10px 0px;
    }

    .nous p{
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        width: auto;
        margin: 5px 0px 0px 0px;
    }

    /* block aide footer*/

    .aide{
        width: 33%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .aide h2{
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: bold;
        margin: 30px 0px 10px 0px;
    }

    .aide p{
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        width: auto;
        margin: 5px 0px 0px 0px;
    }
 


@media only screen and (min-width:646px) and (max-width: 1361px) {
    body {
        max-width:1024px;
        height:auto;
        margin: auto;
    }

    header {
        width: 100%;
        height:auto;
        margin: 20px;
        
    }

    main{
        width: auto;
        margin: 20px;
    }

    .box2 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin: 10px 0px 10px 0px;
        width: auto;
        height: auto;

    }
    .box3 {
        width: 100%;
        height: auto;
        margin-top: 20px;
      

    }

    .logop{
        width:20%;
        
    }

   

    /*menu filtre tablet*/

   
    .butfilter {
        width: 100%;
        height:auto;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: baseline;
    }

    .buttonf{
        margin:15px 15px 0px 0px;
    }

    .buttonf {
        width: auto;
        height: 30px;
    }
    
    /*fenetre hébergement tablet*/

    #hébergement{
        width: 100%;
        background-color: #f2f2f2;
        height: auto;
        margin-top: 20px;
    }
   

    .img_hebergements{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    
    .border {
        width:40%;
        height:auto;
        margin: 20px 30px 30px 30px;
        float: left;
        border-radius: 40px;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .AP{
        margin-bottom: 20px;
    }

    .img1 {
        padding: 0px;
        width: 100%;
        height: 170px;
        margin: 0px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;

    }

    .sblue{
        width: 120px;
        color: #0065FC;
        margin: 0px 0px 0px 20px;
        padding: 0px 0px 10px 0px ;
        
    }

    


    /*fenetre populaire tablet*/


    #populaire {
        background-color: #f2f2f2;
        width:100%;
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 10px;
        border-radius: 40px;
    }
    .img_populaire{
        display: flex;
        flex-direction: row;
    }
    .border2 {
        background-color: white;
        width:33%;
        height: auto;
        margin: 25px 30px 15px 30px;
        border-radius: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

    }

    
    .img2 {
        margin:0px;
        width: 100%;
        height:140px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px;
    }

    .border2 h3{
        font-size: 14px;
        width:130px;
        height: 35px;
        padding: 0px 5px 0px 10px;
        margin: 5px 0px 0px 0px;
        
    }
    
    .border2 p{
        font-size: 10px;
        width: auto;
        height: 15px;
        padding: 0px 5px 0px 10px;
        margin: 0px 0px 0px 0px;
        
    }

    .border2 .sblue{
        padding: 0px 5px 10px 10px;
        margin: 0px;
        
    }
       /*fenetre activité tablet*/

       #Activités{
        width: 100%;
        height: auto;
        margin-right: 10px;
        border-radius: 40px;
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
    }

    .img_activité{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }

    .imga1{
      width: 100%;
      height:20%;
     
    }


    .bordera {
        background-color:white;
        width: 95%;
        height:auto;
        margin: 20px 10px 10px 10px;
        border-radius: 30px;
        box-shadow: black 10px 0px 22px -11px ;
        
    }

    .bordera2{
        background-color: white;
        width: 95%;
        height: auto;
        margin: 10px 10px 20px 10px;
        border-radius: 30px;
        box-shadow: black 10px 0px 22px -11px;
        
    }

    .imgb1{
        width: 100%;
        height: 400px;
        margin: 0px 0px 5px 0px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        }
    
        .imgb2{
        width: 100%;
        height: 400px;
        margin: 0px 0px 5px 0px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
     }
        
     .bordera h3,.bordera2 h3{
        font-size: 16px;
        font-weight: bold;
        width:300px;
        height: 15px;
        padding: 0px 10px 10px 0px;
        margin: 0px 0px 5px 40px;
       
    }
    
}
 

@media only screen and (max-width:645px){

    body {
        max-width: 375px;
        height: 4550px;
        margin: auto ;
    }

    header {
        width: 100%;
        height:auto;
        margin:0px;

        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:"logo  sign"
                            "navlink  navlink";
        
    }

    main{
        width: 100%;
        margin:0px;
    }

    .box2 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin: 10px 0px 10px 0px;
        width: 100%;
        height: auto;

    }
    .box3 {
        width: 100%;
        height: auto;
        margin-top: 20px;
      

    }

    .logop{
        width:70%;
        margin-left: 20px;
        grid-area: logo;
        
    }
    
    .menu{
        width: 100%;
        height: auto;
       justify-content:space-around;
        grid-area: navlink;
        
    }
    .menu li{
        margin: 0px 0px;
    }

    .menu ul{
        padding: 0px;
    }


    .signup{
        margin-left: 110px;
        grid-area: sign;
        
    }

    .navlinka{
        width: 100%;
        padding: 0px 52px;
        border-bottom: #0065FC 3px solid;

    }

    .navlinkb{
        width: 100%;
        padding: 0px 53px;
        border-bottom: #f2f2f2 3px solid;

    }

    h1{width: 80%;
        font-size: 23px;
        font-weight: bold;
    }

    main p{
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 30px;
    }

    /*barre recherche mobile*/

    .barre {
        width: 80%;
        margin-right: 0px;
        display: flex;
        align-items: center;
        border: 1px solid #f2f2f2;
        border-radius: 15px;
        background-color:#f2f2f2;

    }

    .text{
        width:90%;
    }

    .fond_icp{
        width:15%;
        height: 38px;
        
        
    }

    .btns{
        display: none;
    }

    .input2 {
        display: block;
        width: 50px;
        height: 38px;
        margin: 0px;
        padding: 8px;
        background-color: #0065FC;
        color: white;
        border: none;
        border-radius: 15px;

    }

    /*menu filtre mobile*/

    .butfilter h2{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin: 0px;
    
    }


    .butfilter {
        width: 98%;
        height:auto;
        margin-right: 0px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: baseline;
    }

    .buttonf{
        margin:15px 15px 0px 0px;
    }

    .buttonf {
        width: auto;
        height: 30px;
    }

    .buttonf:hover {
        background: #0065FC;
    }

    .info{
        align-items: center;
    }


    .info p{
        width:100%;
        font-size:18px;
        word-wrap: break-word;
    }

    .info i{
        margin-top:5px;
        margin-bottom: 10px;
    }
    
    /*fenetre hébergement mobile*/

    #hébergement{
        width: 100%;
        background-color: #f2f2f2;
        height: auto;
        margin-top: 20px;
    }
   

    .img_hebergements{
        display: flex;
        flex-direction: column;
    }
    
    .border {
        background-color:white;
        width:90%;
        height: 250px;
        margin: 20px 20px 0px 20px;
        float: left;
        border-radius: 40px;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;


    }

    .img1 {
        padding: 0px;
        margin: 2%;
        width: 96%;
        height: 170px;
        margin-top: 5px;
        margin-bottom: 0px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;

    }

    .AP{
        padding: 10px;
      
    }

    

    /*fenetre populaire mobile*/


    #populaire {
        background-color: #f2f2f2;
        width: 100%;
        height: auto;
        margin-right: 0px;
        border-radius: 40px;
        
    }

    .border2 {
        background-color:white;
        width:85%;
        height: auto;
        margin: 5px 25px 15px 25px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

    }

    
    .img2 {
        padding:0px;
        width: 110px;
        height:120px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .border2 .sblue{
        padding: 40px 5px 0px 10px;
        margin: 0px;   
    }
       /*fenetre activité mobile*/

       #Activités{
        width: 100%;
        height: auto;
        margin-right: 10px;
        border-radius: 40px;
        display: flex;
        flex-direction:column;
    }

    .img_activité{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }

    .imga1{
      width: 100%;
      height:auto;
     
    }

    .bordera {
        background-color:white;
        width: 95%;
        height:auto;
        margin: 30px 10px 10px 10px;
        border-radius: 30px;
        box-shadow: black 10px 0px 22px -11px ;
    }

    .bordera2{
        background-color: white;
        width: 95%;
        height: auto;
        margin: 10px 10px 20px 10px;
        border-radius: 30px;
        box-shadow: black 10px 0px 22px -11px;
    }

    .imgb1{
        width: 100%;
        height:auto;
        margin: 0px 0px 5px 0px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        }
    
        .imgb2{
        width: 100%;
        height: 230px;
        margin: 0px 0px 5px 0px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        }

        .bordera h3,.bordera2 h3{ 
            margin: 0px 0px 0px 30px;
            padding: 0px 0px 10px 0px;
           
        }

        #Activités h2{
            width: 50%;
            height: 20px;
            padding: 0px;
            margin: 20px 0px 0px 20px;
        
    
        }
        
        /*footer mobile*/
        footer{
            background-color: #f2f2f2;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height:600px;
            margin: 20px 0px 0px 0px;
            padding: 0px;
            } 
      
    

}
