@media only screen  and (max-width: 2048px) {
    
    
    /*commun*/

    body {
        height:auto;
        width: 100%;
        margin: 10px 20px 10px 20px ;
        font-family: 'raleway', sans-serif;
        color: black;
       
    }

    header {
        width: 100%;
        height:auto;
        display: flex ;
        align-items: center;
        
    }

    .box2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px 10px 10px 10px;
        width: 100%;
        height: 650px;

    }
    .box3 {
        width: 100%;
        height: auto;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    /*HEADER*/

    /*logo*/

    .logop {
        height: auto;
        width: 80px;
        margin-left: 10px;
        
    }

    /*barre menu*/

    .menu{
        width: 100%;
        height: 50%;
        
    }

    .menu ul{
        list-style-type: none;
        margin: 0px;
    }

    .menu li{
        float: right;
        margin-right: 30px;
        color: #0065FC;
        
    }


    .menu a {
        cursor: pointer;
        text-decoration:none;
        color: #0065FC;
    }

    .signup{
        text-decoration: none;
        color: #0065FC;
        margin-right: 30px;
        
       
        
    }
    /* Animation du menu */
    
    nav li a:hover {
    border-top: 2px solid #0065FC;
    padding-top: 15px;
    
    
    }

    
    nav li a:active {
    border-top: 2px solid #0065FC;
    padding-top : 40px;
    color:#DEEBFF;
}
 /*Fin HEADER*/

 /*COrps de page*/ 

    /*titres site*/

    h1{
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        padding: 0px;
        margin: 10px;
    }
    
    h2{
        font-family: 'Raleway', sans-serif;
        font-size: 11px;
        padding: 0px;
        margin: 10px;
    }

    /*barre recherche*/

    .barre {
        width: 300px;
        margin: 10px;
        display: flex;
        align-items: center;
        border: 1px solid #f2f2f2;
        border-radius: 15px;
        background-color:#f2f2f2;

    }



    .fond_icp{
        width:15%;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    
    
    .text{
        width: 170px;
        height: 38px;
        font-family: 'raleway', sans-serif;
        color: black;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        border: transparent;
    }

    


    .btns {
        width: 130px;
        height: 38px;
        margin: 0px;
        padding: 8px;
        background-color: #0065FC;
        color: white;
        font-family: 'raleway', sans-serif;
        font-size: 14px;
        text-align: center;
        border: none;
        cursor: pointer;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;

    }

    .input2{
        display: none;
    }

    /*menu filtre*/

    .butfilter h2{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    padding: 0px;
    margin: 5px;
    }


    .butfilter {
        width: 100%;
        height: auto;
        list-style-type: none;
        padding: 0px;
        margin: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    

   
    .buttonf {
        float: left;
        width: auto;
        height: 30px;
        text-align: center;
        border-radius: 20px;
        border: #DEEBFF solid 2px;
        margin:15px 15px 0px 25px;
        padding-right:15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: transparent;
        overflow: hidden;
        font-family: 'raleway', sans-serif;
        color: black;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;

    }

    .buttonf:hover {
        background: #0065FC;
    }


    .butfilter i{
        width: 20px;
        float: left;
        margin-right: 10px;
        color: #0065FC;
        background-color: #DEEBFF;
        border: solid 7px #DEEBFF;
        border-radius: 50px;
    
    }
    

    .info i {
        color: #0065FC;
         width: 15px;
         height: auto;
         float: left;
         margin-left: 10px;
         margin-right: 10px;
         flex:0 1 auto;
 
     }

    .info p {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        width:300px ;
        height: auto;
        padding: 0px;
        margin: 0px;

    }


    /*fenetre hébergement*/


    #hébergement {
        background-color: #f2f2f2;
        width: 75%;
        height:650px;
        border-radius: 40px;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
       
    }

    p{
        
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        width: 150px ;
        height: 15px;
        margin: 6px 0px 0px 20px;
        
    }

    .AP{
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        width: 150px ;
        height: 15px;
        padding: 0px;
        margin: 0px 0px 5px 50px;
    }

    .border {
        background-color:white;
        width:25%;
        height: 250px;
        margin: 30px 40px 30px 40px;
        float: left;
        border-radius: 40px;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;


    }

    .img1 {
        padding: 0px;
        margin: 2%;
        width: 96%;
        height: 170px;
        margin-top: 5px;
        margin-bottom: 0px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;

    }

    
    #hébergement h2{
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: bold;
        width: 300px;
        height: 20px;
        padding: 0px;
        margin: 10px 0px 0px 20px;
       
    }
    
    .border h3{
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: bold;
        width: 250px;
        height: 15px;
        padding: 0px;
        margin: 0px 0px 0px 20px;
    }

    #hébergement .fas{
        width: 15px;
        
    }

    .sblue{
        width: 120px;
        color: #0065FC;
        margin: 0px 0px 0px 20px;
        
    }

    .grey{
        color:#f2f2f2;
       
    }
    

    /*fenetre populaire*/


    #populaire {
        background-color: #f2f2f2;
        width: 22%;
        height: 650px;
        margin-right: 10px;
        border-radius: 40px;
        
    }
    /* titre et icone*/

    .pop{
        display: flex;
        flex-direction: row;
        align-items: center;
       
    }

    .pop i{
        width: 20px;
        margin: 10px 0px 0px 70px;
    }

    /*conteneur*/

    .border2 {
        background-color: white;
        width:85%;
        height: auto;
        margin: 45px 25px 0px 25px;
        border-radius: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

    }

    
    .img2 {
        margin: 7px 7px 7px 7px;
        width: 100px;
        height:140px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        
    
    }

    #populaire h2{
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: bold;
        width: 190px;
        height: 20px;
        padding: 0px;
        margin: 10px 0px 0px 20px;
       
    }

    .border2 h3{
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight:bold;
        width:130px;
        height: 35px;
        padding: 0px;
        margin: 20px 10px 0px 0px;
        
    }

    
    .border2 p{
        
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        width: auto;
        height: 15px;
        padding: 0px;
        margin: 5px 0px 0px 0px;
        
    }

    /*icone etoile*/
    

    .fas{
        width: 13px;
    }

    .border2 .sblue{
        width: auto;
        color: #0065FC;
        margin: 50px 0px 0px 0px;
        
    }

    .grey{
        color:#f2f2f2;
    }
        


    /*fenetre activité*/

    #Activités{
        width: 100%;
        height: 600px;
        margin-right: 10px;
        border-radius: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    #Activités h2{
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: bold;
        width: 30%;
        height: 20px;
        padding: 0px;
        margin: 20px 0px 0px 20px;
    

    }

    .img_activité{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    .imga1{
      width: 24%;
      height:90%;
     
    }


    .bordera {
        background-color:white;
        width: 95%;
        height: 540px;
        margin: 10px 10px 10px 10px;
        border-radius: 30px;
        box-shadow: black 10px 0px 22px -11px ;
        
    }

    .bordera2{
        background-color: white;
        width: 95%;
        height: 260px;
        margin: 10px 10px 20px 10px;
        border-radius: 30px;
        box-shadow: black 10px 0px 22px -11px ;
        
    }

    .bordera h3,.bordera2 h3{
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: bold;
        width:300px;
        height: 15px;
        padding: 0px;
        margin: 0px 0px 10px 20px;
       
    }

    .imgb1{
    width: 100%;
    height:500px;
    margin: 0px 0px 5px 0px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    }

    .imgb2{
    width: 100%;
    height: 230px;
    margin: 0px 0px 0px 0px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    }
    /*Fin corps page*/

   /*FOOTER*/

    /*fenetre footer*/
    
    footer{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    margin: 20px 0px 0px 0px;
    }

    /* block a propos footer*/

    .propos{
        width: 33%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .propos h2{
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: bold;
        margin: 30px 0px 10px 0px;
    }

    .propos p{
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        width: auto;
        margin: 5px 0px 0px 0px;
    }

    /* block nos hébergements footer*/

    .nous{
        width: 33%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .nous h2{
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: bold;
        margin: 30px 0px 10px 0px;
    }

    .nous p{
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        width: auto;
        margin: 5px 0px 0px 0px;
    }

    /* block aide footer*/

    .aide{
        width: 33%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .aide h2{
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: bold;
        margin: 30px 0px 10px 0px;
    }

    .aide p{
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        width: auto;
        margin: 5px 0px 0px 0px;
    }
 /*fin footer*/
}

@media only screen and  (max-width: 1024px) {

  

    
    
}
 

@media only screen  and (max-width: 768px){

    body {
        width: 100%;
        height: 4550px;
        margin: 0px;
       
       
    }

    header {
        width: auto;
        height:auto;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:"logo  sign"
                            "navlink  navlink";
        
    }

    .box2 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin: 10px 0px 10px 0px;
        width: auto;
        height: auto;

    }
    .box3 {
        width: 100%;
        height: auto;
        margin-top: 20px;
      

    }

    .logop{
        width:70%;
        grid-area: logo;
        
    }
    
    .menu{
        width: 100%;
        height: auto;
       justify-content: center;
        grid-area: navlink;
        
    }
    .menu li{
        margin: 0px 0px;
    }

    .menu ul{
        padding: 0px;
    }


    .signup{
        margin-left: 110px;
        grid-area: sign;
        
    }

    .navlinka{
        width: 100%;
        padding: 0px 45px;
        border-bottom: #0065FC 3px solid;

    }

    .navlinkb{
        width: 100%;
        padding: 0px 60px;
        border-bottom: #f2f2f2 3px solid;

    }

    /*barre recherche mobile*/

    .barre {
        width: 330px;
        display: flex;
        align-items: center;
        border: 1px solid #f2f2f2;
        border-radius: 15px;
        background-color:#f2f2f2;

    }

    .text{
        width:100%;
    }

    .fond_icp{
        width:15%;
        height: 38px;
        
        
    }

    .btns{
        display: none;
    }

    .input2 {
        display: block;
        width: 50px;
        height: 38px;
        margin: 0px;
        padding: 8px;
        background-color: #0065FC;
        color: white;
        border: none;
        border-radius: 15px;

    }

    /*menu filtre mobile*/

    .butfilter h2{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin: 0px;
    
    }


    .butfilter {
        width: 100%;
        height:auto;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: baseline;
    }

    .buttonf{
        margin:15px 15px 0px 0px;
    }

    .buttonf {
        width: auto;
        height: 30px;
    }

    .buttonf:hover {
        background: #0065FC;
    }
    
    /*fenetre hébergement mobile*/

    #hébergement{
        width: 100%;
        background-color: white;
        height: auto;
        margin-top: 20px;
    }
   

    .img_hebergements{
        display: flex;
        flex-direction: column;
    }
    
    .border {
        background-color:white;
        width:90%;
        height: 250px;
        margin: 10px;
        float: left;
        border-radius: 40px;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;


    }

    .img1 {
        padding: 0px;
        margin: 2%;
        width: 96%;
        height: 170px;
        margin-top: 5px;
        margin-bottom: 0px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;

    }

    /*fenetre populaire mobile*/


    #populaire {
        background-color: #f2f2f2;
        width: 100%;
        height: auto;
        margin-right: 10px;
        border-radius: 40px;
        
    }

    .border2 {
        background-color: white;
        width:85%;
        height: auto;
        margin: 5px 25px 15px 25px;
        border-radius: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

    }

    
    .img2 {
        margin: 7px 7px 7px 7px;
        width: 100px;
        height:140px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        
    
    }
       /*fenetre activité mobile*/

       #Activités{
        width: 100%;
        height: auto;
        margin-right: 10px;
        border-radius: 40px;
        display: flex;
        flex-direction:column;
    }

    .img_activité{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }

    .imga1{
      width: 100%;
      height:auto;
     
    }


    .bordera {
        background-color:white;
        width: 95%;
        height:auto;
        margin: 30px 10px 10px 10px;
        border-radius: 30px;
        box-shadow: black 10px 0px 22px -11px ;
        
    }

    .bordera2{
        background-color: white;
        width: 95%;
        height: auto;
        margin: 10px 10px 20px 10px;
        border-radius: 30px;
        box-shadow: black 10px 0px 22px -11px;
        
    }

    .imgb1{
        width: 100%;
        height:auto;
        margin: 0px 0px 20px 0px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        }
    
        .imgb2{
        width: 100%;
        height: 230px;
        margin: 0px 0px 20px 0px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        }

        .bordera h3,.bordera2 h3{ 
            margin: 0px 0px 0px 30px;
            padding: 0px 0px 10px 0px;
           
        }

        #Activités h2{
            width: 50%;
            height: 20px;
            padding: 0px;
            margin: 20px 0px 0px 20px;
        
    
        }
        

        /*footer mobile*/
        footer{
            background-color: #f2f2f2;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: auto;
            margin: 20px 0px 0px 0px;
            }
    

}
